@media only screen and (max-width:1200px) {
    .section_padding{
        margin-top: 0px;
    }
}

@media only screen and (min-width:768px) and (max-width:991px) {
    .banniere{
        padding-top: 30px;
    }

    #btn_envoie_rech{
        padding-left: 10px;
        padding-right: 10px;
    }

    .gj-datepicker [role="right-icon"]{
        width: 26%;
    }
}

@media only screen and (min-width:200px) and (max-width:767px) {
    .banniere{
        padding-top: 20px;
    }

    .booking_form .form_group{
        margin-top: 10px;
    }

    .gj-datepicker [role="right-icon"]{
        position: absolute;
        top: 3px !important;
    }

    #btn_envoie_rech{
        width: 100%;
        text-align: center; 
    }

    .two-span, .three-span, .two-span, .first-span{
        display: none;
    }

    /*#logo-7{
        display: none;
    }*/

    #logo-6{
        display: none;
    }

    /*.pagination{
        display: block;
    }*/

    .section_padding{
        margin-top: 0px;
    }
}

@media only screen and (min-width:467px) and (max-width:767px) {
    .gj-datepicker [role="right-icon"]{
        width: 8%;
    }
}

@media only screen and (min-width:308px) and (max-width:466px) {
    .gj-datepicker [role="right-icon"]{
        width: 12%;
    }
}

@media only screen and (min-width:768px) and (max-width:991px) {
    #no-responsive-voyage{
        display: none;
    }

    #responsive-voyage{
        display: block;
    }

    #logo-6{
        padding: 0px;
    }

    #date-voyage{
        text-align: center;
    }

    .bull .sous-bull{
        background-color: unset;
        padding: unset;
        border-radius: unset;
    }

    .sous-bull div{
        background: #fff;
        padding: 3px;
        border-radius: 3px;
        margin-bottom: 6px;
    }

    .bull{
        margin-bottom: 0px;
    }
}

@media only screen and (min-width:768px) and (max-width:991px) {
    #logo-7{
        display: none;
    }

    #logo-6{
        display: block;
    }
}

@media only screen and (max-width:465px){
    /*#date-voyage.col-3{
        max-width: 100%;
        flex: 0 0 100%;
        text-align: center;
    }

    #date-voyage+.col-9{
        max-width: 100%;
        flex: 0 0 100%;
        text-align: center;
    }*/

    .gars_affiche ul{
        margin-left: 10px;
    }

    .bull .sous-bull{
        background-color: unset;
        padding: unset;
        border-radius: unset;
    }

    .sous-bull div{
        background: #fff;
        padding: 3px;
        border-radius: 3px;
        margin-bottom: 6px;
    }

    .bull{
        margin-bottom: 0px;
    }

    #no-responsive-voyage{
        display: none;
    }

    #responsive-voyage{
        display: block;
    }

    #logo-7{
        padding: 0px;
    }

    .suivant, .precedent{
        display: none;
    }
}

@media only screen and (max-width:365px){
    /*#col-logo.col-3{
        flex: 0 0 33.333333%;
        max-width: 33.333333%;
    }

    #responsive-voyage.col-9{
        flex: 0 0 66.666667%;
        max-width: 66.666667%;
    }*/

    .gj-datepicker [role="right-icon"]{
        padding-left: 0px;
    }
}

@media only screen and (min-width: 375px) and (max-width:405px){
    .gj-datepicker [role="right-icon"]{
        padding-left: 3px;
    }
}

@media only screen and (min-width:321px) and (max-width:500px){
    /*#logo-7 .fa-7x::before{
        font-size: 5em;
    }*/
    .fa-7x {
        font-size: 5em;
    }

    /*.col-3 {
        -ms-flex: 0 0 16.666667%;
        flex: 0 0 16.666667%;
        max-width: 16.666667%;
    }

    .col-9 {
        -ms-flex: 0 0 83.333333%;
        flex: 0 0 83.333333%;
        max-width: 83.333333%;
    }*/

    .btn_reserver{
        margin-top: 0px !important;
    }

    #date-voyage{
        padding-top: 0px;
    }

    .gars_affiche{
        padding-top: 10px;
        padding-bottom: 10px;
    }
}

@media only screen and (max-width:320px){
    .fa-7x {
        font-size: 5em;
    }

    .col-3 {
        -ms-flex: 0 0 16.666667%;
        flex: 0 0 16.666667%;
        max-width: 16.666667%;
    }

    .col-9 {
        -ms-flex: 0 0 83.333333%;
        flex: 0 0 83.333333%;
        max-width: 83.333333%;
    }

    #responsive-voyage{
        padding-left: 32px;
    }

    .gare, .compagnie{
        display: none !important;
    }

    .btn_reserver{
        margin-top: 0px !important;
    }

    #date-voyage{
        padding-top: 0px;
    }

    .gars_affiche{
        padding-top: 10px;
        padding-bottom: 10px;
    }
}

@media only screen and (max-width:991px){
    .navbar-expand-lg{
        flex: 0 0 100%;
        max-width: 100%;
    }

    .navbar-brand{
        float: left !important;
    }

    .navbar-toggler{   
        float: right !important;
    }

    .sub_menu .col-md-3{
        -ms-flex: 0 0 100%;
        flex: 0 0 100%;
        max-width: 100%;
    }
}

/*@media only screen and (max-width:991px){
    .navbar-toggler{
        top: 35px;
        position: relative;
    }
}*/

@media only screen and (max-width:575px){
    #logo-navbar{
        top: 0px
    }
}

@media only screen and (max-width:433px){
    .header-two{
        display: none !important;
    }

    #navbarResponsive{
        position: relative;
        left: 54%;
        top: 14px;
    }

    .li-navbar{
        display: block !important;
    }
}

@media only screen and (max-width:433px){
    .header-two .dashboard{
        display: none !important;
    }

    #navbarResponsive{
        position: relative;
        left: 43%;
        top: 14px;
    }

    .li-navbar{
        display: block !important;
    }
}

@media only screen and (min-width:991px) {
    #responsive-voyage{
        display: none;
    }
}

@media only screen and (min-width:466px) and (max-width:767px){
    #responsive-voyage{
        display: none;
    }

    #no-responsive-voyage{
        display: block;
    }

    #date-voyage.col-3{
        max-width: 100%;
        flex: 0 0 100%;
        text-align: center;
    }

    #date-voyage+.col-9{
        max-width: 100%;
        flex: 0 0 100%;
        text-align: center;
    }
}

@media only screen and (min-width:100px) and (max-width:767px){
    #date-voyage.col-3{
        max-width: 100%;
        flex: 0 0 100%;
        text-align: center;
    }

    #date-voyage+.col-9{
        max-width: 100%;
        flex: 0 0 100%;
        text-align: center;
    }
}